- links = links || {};
- var logged_on = (request.session.passport && request.session.passport.user);
- if (logged_on) var user = request.session.passport.user;
doctype html
html
  head
    block head
      meta(name="viewport" content="width=device-width, user-scalable=no")

      //- Bootstrap: Latest compiled and minified CSS
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
      //- Bootstrap: Optional theme
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
      link(rel="stylesheet" href="/styles/off-the-record.css")
      link(rel="stylesheet" href="/styles/menu.css")

      script(src='/scripts/jquery.js')
      //- Bootstrap: Latest compiled and minified JavaScript
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
      script(src="/socket.io/socket.io.js")
      script(src='/scripts/off-the-record.js')
      script(src='/scripts/menu.js')

      title= env.serverName
      block scripts
      block styles
  body
    block wrapper
      #wrapper
        #menu
          #session
            if (logged_on)
              div Logged on as 
                a(href='/profile') #{request.session.passport.user}
                | .&nbsp;
                a(href='/logoff') Logoff
          hr
          #nav
            nav
              ul#links
                - var foo = 0;
                each url, title in links
                  li: a(href=url) #{title}
        #body(class="animated-wrapper hardware-accelarate" data-state="neutral")
          #header
            if (logged_on)
              block menuBtn
                img(id="menuBtn" src='/images/menu.svg')      
            block pageTitle
              #pageTitle=env.serverName
          block content
            #content
                  
                  
