extends layout

block socketio
    script(src="/socket.io/socket.io.js")
    script(src='/scripts/off-the-record.js')
    script(src='/scripts/profile.js')

block content
    #contents
        h2 User:
        table(id="user-table")
            tbody
                each propName in ['_id', 'username']
                    tr
                        td.propName #{propName}
                        td #{request.user[propName]}
        h2 Profile:
            | &nbsp;
            button(id="edit-profile") edit
            | &nbsp;
            button(id="cancel-profile") cancel
            | &nbsp;
            button(id="save-profile") save
            | &nbsp;
        table(id="profile-table")
            tbody
                each propName in ['firstName', 'lastName']
                    tr
                        td.propName #{propName}
                        td.editable #{request.user.profile[propName]}
        h2 Privacy:
            | &nbsp;
            button(id="edit-privacy") edit
            | &nbsp;
            button(id="cancel-privacy") cancel
            | &nbsp;
            button(id="save-privacy") save
            | &nbsp;
        table(id="privacy-table")
            tbody
                each propName, key in ['profile', 'friendRequest', 'startConversation']
                    tr
                        td.propName #{propName}
                        td.editable #{privacy[request.user.privacy[propName]]}
